html, body, #map {
    height: 100%;
    width: 100%;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.loader {
    background: url('../images/loader.gif') center no-repeat;
}

#target {
    display: none;
    background: url('../images/op-sprite.png') -32px -0px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    top: 50%;
    z-index: 901;
}

#addressSearch {
    z-index: 100;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}

#addressSearch form.form-search {
    display: inline-block;
    width: 420px;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #888888;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

#addressSearch form.form-search div.title {
    text-align: center;
    padding: 5px;
}

#addressSearch div.search label {
    display: inline-block;
    color: gray;
}

#addressSearch input.address {
    width: 300px;
}

#addressSearch input.find {
    padding: 1px;
    width: 33px;
    height: 33px;
    background: url("../images/op-sprite.png") 0px 0px;
}

#searchResults.loader {
    height: 50px;
}

#searchResults ul {
    display: inline-block;
    width: 440px;
    margin: -22px 0 0 0;
    list-style-type: none;
    border: 1px solid #888888;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding: 0;
}

#searchResults li {
    display: block;
    text-align: left;
    border-bottom: solid 1px #aaaaaa;
    background-color: #ffffff;
    padding: 2px 5px;
}

#searchResults li.address:hover {
    background-color: #ffaf4d;
    cursor: pointer;
}

#map {
    height: 100%;
    width: 100%;
}

#popup td {
    line-height: 18px;
    padding: 0 5px;
}