<table id="popup" class="table table-striped">
    <tr>
        <td rowspan="6"><img src="{{policeman.photo_url}}"/></td>
        <td>ФИО</td>
        <td>{{policeman.name}}</td>
    </tr>
    <tr>
        <td>Должность</td>
        <td>{{policeman.type}}</td>
    </tr>
    <tr>
        <td>Звание</td>
        <td>{{policeman.rank}}</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>{{policeman.phone}}</td>
    </tr>
    <tr>
        <td>Ссылка</td>
        <td><a title="Страница полицейского на 112.ru" href="{{policeman.url}}" target="_blank">112.ru</a></td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td>{{address}}</td>
    </tr>
</table>